/1-NumeroPrimos/build/
/1-NumeroPrimos/dist/
/SomatorioMatrizes/nbproject/private/
/2-SomatorioMatrizes/nbproject/private/
/2-SomatorioMatrizes/build/
/3-MultiplicacaoMatrizes/nbproject/private/
/3-MultiplicacaoMatrizes/build/
/3-MultiplicacaoMatrizes/dist/
/4-BuscarPalavra/nbproject/private/
/4-BuscarPalavra/build/
/4-ContarPalavras/nbproject/private/
/4-ContarPalavras/build/
/4-ContarPalavras/dist/
/5-Armazem/nbproject/private/
/5-Armazem/build/
/6-ContadorSequencial/nbproject/private/
/6-ContadorSequencial/build/
/7-Arquivo/nbproject/private/
/7-Arquivo/build/
/8-ExemploBuffer/nbproject/private/
/9-ExemploSocket/nbproject/private/
/9-ExemploSocket/build/
/10-Chat/nbproject/private/
/10-Chat/build/
/11-UDOsocket/nbproject/private/
/11-UDOsocket/build/
/ComprimetimentoDuasFases/nbproject/private/
/ComprimetimentoDuasFases/build/
/ServerComprometimentoDuasFases/nbproject/private/
/ClienteComprimetimentoDuasFases/nbproject/private/
/ServerComprometimentoDuasFases/build/
/Coordenador/nbproject/private/
/Participante/nbproject/private/
/ComprometimentoDuasFases/Participante/nbproject/private/
/ComprometimentoDuasFases/Coordenador/nbproject/private/
/ComprometimentoDuasFases/Participante/build/
/ComprometimentoDuasFases/Participante/dist/
/ComprometimentoDuasFases/Coordenador/build/
/ComprometimentoDuasFases/Coordenador/dist/
/ComprometimentoDuasFases/Projeto/nbproject/private/
/ComprometimentoDuasFases/Projeto/build/
/ComprometimentoDuasFases/Projeto/dist/