/1-NumeroPrimos/build/
/1-NumeroPrimos/dist/
/SomatorioMatrizes/nbproject/private/
/2-SomatorioMatrizes/nbproject/private/
/2-SomatorioMatrizes/build/
/3-MultiplicacaoMatrizes/nbproject/private/
/3-MultiplicacaoMatrizes/build/
/3-MultiplicacaoMatrizes/dist/
/4-BuscarPalavra/nbproject/private/
/4-BuscarPalavra/build/
/4-ContarPalavras/nbproject/private/
/4-ContarPalavras/build/
/4-ContarPalavras/dist/
/5-Armazem/nbproject/private/
/5-Armazem/build/
/6-ContadorSequencial/nbproject/private/
/6-ContadorSequencial/build/
/7-Arquivo/nbproject/private/
/7-Arquivo/build/
/8-ExemploBuffer/nbproject/private/