/1-NumeroPrimos/build/
/1-NumeroPrimos/dist/
/SomatorioMatrizes/nbproject/private/
/2-SomatorioMatrizes/nbproject/private/
/2-SomatorioMatrizes/build/
/3-MultiplicacaoMatrizes/nbproject/private/
/3-MultiplicacaoMatrizes/build/
/3-MultiplicacaoMatrizes/dist/
/4-BuscarPalavra/nbproject/private/
/4-BuscarPalavra/build/
/4-ContarPalavras/nbproject/private/
/4-ContarPalavras/build/
/4-ContarPalavras/dist/
